<div class="container">
  <nav class="navbar navbar-dark bg-primary">
    <a href="#" class="navbar-brand">Apollo Client For Angular - Simple Application </a>
  </nav>
  <app-list></app-list>
</div>

<router-outlet></router-outlet>
